xcuserdata/
**/*.xcuserstate
*.xcscmblueprint
DerivedData/
# Swift Package Manager
**/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Xcode
*.xcworkspace
!default.xcworkspace

# Build products
build/
*.ipa
*.dSYM

# SwiftPM cache
.swiftpm/

# SQL Database
*.sqlite

# CoreML large packages
*.mlpackage
**/*.mlpackage/
**/weights/weight.bin